/*Sanusi Form Validation V 1.00*/
/*Author : Muhammad Giyan Sanusi*/
/*20 May 2017*/

/*Class in case input is invalid*/
input.invalid, textarea.invalid{
	border: 1px solid #ff0000;
    padding: 5px 8px;
    color: #616161;
    width: 100%;
    font-size: 0.85em;
    font-weight: 300;
    height: 40px;
    -webkit-appearance: none;
	outline: none;
	background: none;
   box-shadow:none !important;
}

/*Class in case input is valid*/
input.valid, textarea.valid{
	border: 1px solid #00ff00;
    padding: 5px 8px;
    color: #616161;
    width: 100%;
    font-size: 0.85em;
    font-weight: 300;
    height: 40px;
    -webkit-appearance: none;
	outline: none;
	background: none;
   box-shadow:none !important;
}


